<!DOCTYPE html>
<html lang = 'en'
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
<head>
	<title> TaskManager </title>
</head>	  
<body>
<h1> Register New User </h1>
<form id = "registerUserForm"
	  th:action = "@{/users/register}"
	  method = "POST">
	  
	  <table>
	  <tr>
	  	<td> <label for = "userNameInput"> Username </label>
	  	<td> <input id = userNameInput type = "text" placeholder = "USERNAME" required
	  				th:field = "${credentialsForm.username}"/> </td>
	  	<td> th:if = "${#fields.hasErrors('credentialsForm.username')}"	
	  		 th:errors = "${credentialsForm.username}" 
	  		 th:style = "'color:red'"> </td>
	  </tr>
	 
	  <tr>
	  	<td> <label for = "passwordInput"> Password </label>
	  	<td> <input id = passwordInput type = "text" placeholder = "PASSWORD" required
	  				th:field = "${credentialsForm.password}"/> </td>
	  	<td> th:if = "${#fields.hasErrors('credentialsForm.password')}"	
	  		 th:errors = "${credentialsForm.password}" 
	  		 th:style = "'color:red'"> </td>
	  </tr>
	  
	  <tr>
	  	<td> <label for = "firstNameInput"> First Name </label>
	  	<td> <input id = firstNameInput type = "text" placeholder = "FIRST NAME" required
	  				th:field = "${userForm.firstname}"/> </td>
	  	<td> th:if = "${#fields.hasErrors('userForm.firstname')}"	
	  		 th:errors = "${credentialsForm.firstname}" 
	  		 th:style = "'color:red'"> </td>
	  </tr>
	  
	  <tr>
	  	<td> <label for = "lastNameInput"> Last Name </label>
	  	<td> <input id = lastNameInput type = "text" placeholder = "LAST NAME" required
	  				th:field = "${userForm.lastname}"/> </td>
	  	<td> th:if = "${#fields.hasErrors('userForm.lastname')}"	
	  		 th:errors = "${userForm.lastname}" 
	  		 th:style = "'color:red'"> </td>
	  </tr>
	  
	  <tr> 
	  	<td> 
	  		<button type  = "submit"> Register </button>
	  	</td>
	  </tr>		
	  </table> 

</form>
</body>
</html>